# pipenv install
# pipenv shell to use
#
# To use in code set virtual env interpretter in code E.g.:
# http://bit.ly/2HLfkMc
# C:\> pipenv --venv
# vs_code_command_pallette> Select WorkSpace Interpreter
#
# Super slow, speed up with pipenv install --skip-lock

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"
# Can turn this into requirements.txt for binder via pip freeze then pruning

[packages]
arrow  =  "*"
ipython = "*"
jupyter = "*"
jupyterlab  = "*"
matplotlib  =  "*"
nbdime = "*"
numpy  = "*"
pandas  = "*"
pdfrw = "*" # pdf editor
seaborn  =  "*"
sklearn = "*"
black = "==19.3b0"
mypy  =  "*"
nltk = "*"
wordcloud = "*"
spacy = "*"
jupytext = "*"

[dev-packages]
# For VS Code editor
#   - linter: prospector
#   - refactoring: rope
#   - autoformat: yapf
##############################
prospector = "*"
rope = "*"
yapf = "*"
